.Ion__Card {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Ion__Card__Subtitle {
    font-size: 16px;
    margin-bottom: 5px;
}

.Ion__Card__Title {
    font-size: 20px;
    margin-bottom: 5px;
}

.Ion__Card__Subtitle.Precio {
    font-size: 18px;
}