.ion-card {
    background-color: #f2f2f2;
}

.ion-card-title {
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    text-align: center;
    color: #008080;
}

.ion-card-subtitle {
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    text-align: center;
    color: #008080;
}

.ion-button {
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    color: #000;
}
