.Ion__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .Ion__Form__Item {
    margin-bottom: 20px;
  }
  
  .Ion__Form__Label {
    color: #333;
  }
  
  .Ion__Form__Input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .Ion__Form__Button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  
  .Ion__Form__Button:hover {
    background-color: #0056b3;
  }
  
  .Ion__Form__Button:active {
    background-color: #003c80;
  }
  
  