.Create__Container {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

.Create__Title {
    font-size: 24px;
    margin-bottom: 20px;
}

.Create__Input {
    margin-bottom: 20px;
}

.Create__Button {
    margin-top: 20px;
}